<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ync365.seed.bussiness.modules.user.dao.SysAdminInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ync365.seed.bussiness.modules.user.entity.SysAdminInfo" >
    <result column="admin_num" property="adminNum" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="INTEGER" />
    <result column="address_detail" property="addressDetail" jdbcType="VARCHAR" />
    <result column="ID_card" property="idCard" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.ync365.seed.bussiness.modules.user.entity.SysAdminInfo" >
    insert into sys_admin_info (admin_num, name, mobile, 
      address, address_detail, ID_card, 
      create_time)
    values (#{adminNum,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{address,jdbcType=INTEGER}, #{addressDetail,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ync365.seed.bussiness.modules.user.entity.SysAdminInfo" >
    insert into sys_admin_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminNum != null" >
        admin_num,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="addressDetail != null" >
        address_detail,
      </if>
      <if test="idCard != null" >
        ID_card,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminNum != null" >
        #{adminNum,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=INTEGER},
      </if>
      <if test="addressDetail != null" >
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>